header{
    height: 100vh;
    padding-top: 4rem;
    overflow: hidden;
}
.header_container{
    position: relative;
    height: 100%;
    text-align: center;
    color: white;
}
/* ==================    CTA      ================= */
.cta{
display: flex;
margin-top: 1rem;
gap: 1.2rem;
justify-content: center;
}
/* ==================== header socials ======================== */
.header-socials{
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
    align-items: center;
    position: absolute;
    left: 0;
    bottom: 3rem;
}
.header-socials::after{
    content: '';
    width: 1px;
    height: 2rem;
    background-color: var(--color-primary);
}
/* =================== me  ======================== */
.me{
     background: linear-gradient(var(--color-primary),transparent);
     width: 22rem;
    height: 20rem;
    position: absolute;
    left: calc( 50% - 11rem);
    margin-top: 4rem;
    border-radius: 12rem 12rem 0 0;
    padding: 3rem 1.5rem 1.5rem 1.5rem;
    overflow: hidden;
    bottom: 0;
}
/*  ======================== Scroll down ================================ */
.Scroll-down{
    position: absolute;
    right: -2.3rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 0.9rem;
}
/* ==============  MEDIA QUERISE   (MEDIUM DEVICES)================== */
@media screen and (max-width:1024px) {

    header{
        height: 100vh;
    }
    .me{
height: 20rem;
bottom: -1rem;
    }
   .header-socials,.Scroll-down{
    display: none;
   }
}



/* ==============  MEDIA QUERISE   (SMALL DEVICES)================== */
@media screen and (max-width:600px) {
    header{
        height: 100vh;
    }
}